<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>SignUp Page</h2>
    <form action="/createAccount" method="POST">
        <input type="text" placeholder="Enter email" name="email">
        <input type="password" placeholder="Enter password" name="password">
        <input type="password" placeholder="Re-enter password" name="password_reenter">
        <input type="submit" value="Register">
    </form>
    <a href="/login">Login</a>
</body>
</html>